{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page - Catering Management</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="message-container">
        {% if messages.error %}
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="container">
        <h1 class="title">Login - Catering Management</h1>
        <form id="login-form" action="/login" method="post">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter email">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter Password">

           

            <button type="submit">Login</button>
        </form>

        <div class="signup">
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const messageContainer = document.getElementById('message-container');

            if (messageContainer.children.length > 0) {
                const message = messageContainer.children[0];
                if (message.classList.contains('error')) {
                    alert(message.innerText); // Display error message in popup box
                    message.remove(); // Remove the error message from the DOM
                }
            }
        });
    </script>
</body>
</html>
